server:
  port: 8761                          # Standard Eureka server port

spring:
  application:
    name: discovery-service

eureka:
  instance:
    hostname: discovery-service       # Important for docker-compose network resolution
    prefer-ip-address: true           # Helps in container environments

  client:
    # Very important: Eureka server should NOT register itself or fetch its own registry
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

  server:
    enable-self-preservation: false   # Disable in development (prevents false "down" status)
    eviction-interval-timer-in-ms: 5000   # Faster lease renewal checks in dev

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always